html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sarpanch;
    font-size: 66px;
    height: 100%;
    width: 100%;
    color: white;   
}

main {
    height: 100%;
    width: 100%;    
    position: relative;
    background-color: rgba(163, 241, 255);
}

.container_top {
    height: 60px;
    background-color: black;
    display: flex;
    z-index: 1;
}

h1 {
    font-size: 45px;    
    margin: auto;
}

.container_bottom {
    position: absolute;
    height: 60px;
    margin: auto;
    width: 100%;  
    background-color: #834013;
    bottom: 0;
    border-top: 5px solid green;
    z-index: 1;
    
}

.clock_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#clock { 
    margin: auto;  
    font-size: 45px;
}

.night {
    background-color: black;
}

#sun {
    bottom: 0;
    width: 60px;
    height: 60px;
    position: absolute;   
    transform: translate(-30px, 60px);
}

.sun_remove {
    display: none;
}

@media only screen and (min-width: 599px) {
    .container_top {
        height: 80px;
    }
    h1 {
        font-size: 50px;
    }  
    #clock {        
        font-size: 50px;
    }
    #sun {
        width: 80px;
        height: 80px;         
    }
    .container_bottom {        
        height: 80px;
        border-top: 10px solid green;          
    }
}

@media only screen and (min-width: 899px) {
    .container_top {
        height: 100px;
    }
    h1 {
        font-size: 55px;
    }
    #clock {        
        font-size: 55px; 
    }
    #sun {
        width: 100px;
        height: 100px;  
    }
    .container_bottom {        
        height: 100px;  
        border-top: 15px solid green;        
    }

}

@media only screen and (min-width: 1199px) {
    .container_top {
        height: 120px;
    }
    h1 {
        font-size: 60px;
    }
    #clock {        
        font-size: 60px;
    }
    #sun {
        width: 120px;
        height: 120px;  
    }
    .container_bottom {        
        height: 120px; 
        border-top: 20px solid green;         
    }
}