body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 66px;
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
}

.container {
    left: 0;
    height: 100px;
    margin-top: -50px;    
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
}

.clock {        
    margin: auto;    
}



.night {
    background: url("../images/night.jpg") fixed center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;


}

.sunset {
    background-image: url("../images/sunset.jpg");
}

.day {
    background: url("../images/day.jpg") fixed center no-repeat;
    background-size: cover;
}

h1 {
    font-size: 20px;
    color: white;
}