html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sarpanch;
    font-size: 66px;
    height: 100%;
    width: 100%;
    color: white;   
}

header {
    height: 10%;
    background-color: black;
    display: flex;
}

h1 {
    font-size: 30px;    
    margin: auto;
}

main {
    height: 80%;
    width: 100%;
    background-color: rgba(163, 241, 255);
    position: relative;
}

footer {
    height: 10%;
    position: relative;
}

#sun {
    width: auto;
    height: 10%;
    /* margin-left: -110px;    */
    position: absolute;
    bottom: 0%;
    right: 0%;
    
}

.sun_remove {
    display: none;
}

.container {
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    /* background-color: #834013; */
    background-color: green;
    /* border-top: 10px solid green; */
    
}

#clock {        
    margin: auto;   
}




.night {
    background: url("../images/night.jpg") fixed center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.sunset {
    background: url("../images/sunset.jpg") fixed center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.day {
    background: url("../images/day.jpg") fixed center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}


